* {
  margin: 0;
  padding: 0;
}
  
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
  
a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.btn {
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search input[type=search] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 15px;
  float: left;
  width: 100%;
  background: #36363d;
  color: #fff;
}

.search button {
  margin-left: -42px;
  float: left;
  background: none;
  font-size: 7px;
  border: none;
  cursor: pointer;
  color: grey;
}

.search input[type=search]:focus + button {
  animation: colorChange 0.7s forwards;
}

@keyframes colorChange {
  from {
    color: grey;
  }
  to {
    color: #fff;
  }
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
  
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
  
.nav-list.active {
  transform: translateX(0);
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}