.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-left: -100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logout-box a,
form a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

form a:hover {
    opacity: 0.7;
}

.logout-box {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    margin-left: -100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}