{% extends "base.html" %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static "app/home.css" %}">
{% endblock %}

{% block content %}
<section class="about_section layout_padding">
  <div class="home-container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2 style="font-weight: bold;">
              Monitora JP -
              Transporte Público
            </h2>
          </div>
          <p>
            Você está insatisfeito com o transporte público da sua cidade? Você acha que o serviço é caro, ineficiente, inseguro ou poluente? Você quer fazer a sua voz ser ouvida pelas autoridades responsáveis?

            Então você veio ao lugar certo. Este é o site de reclamações sobre o transporte público, uma plataforma online que permite que você expresse a sua opinião sobre os problemas que enfrenta no seu dia a dia como usuário de ônibus, metrô, trem ou outro meio de transporte coletivo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}  