body {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: white;
}

#background {
    background-image: none;
}

#background::after {
    background-image: none;
}

body {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: white;
}

section {
    width: 100%;
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.usuario {
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1.5px solid #23232e;
    border-radius: 10%;
}

.user {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    transition: all 0.5s;
    font-size: x-large;
    font-weight: bold;
    border-radius: 40px;
}

.user:hover {
    background-color: lightgray;
}

.adduser {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    gap: 4px;
    transition: all 0.5s;
}

.adduser:hover {
    transform: scale(105%);
}

.round {
    border-radius: 100%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.infoss {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #23232e;
    border-radius: 5px;
}

.foto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formulario input {
    padding: 5px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    width: 400px;
}


.dadospessoais {
    display: flex;
    align-items: center;
}

.dadospessoais input {
    padding: 5px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
}

.tabela {
    width: 90%;
    margin-left: 30px;
    margin-bottom: 20px;
}